{% extends "layout.html" %}
{% block body_content %}

<div style="background:transparent !important" class="jumbotron text-center" style="margin-bottom:0">

<b><h1 style="font-size:90px; font-family:monospace;color:white;"> Stylist123 </h1></b>
<em><p style="font-size:25px; color:white; font-family:sans-serif;"> Create your own personal shopping lists</p></em>
 <form action="{{ url_for('register') }}">
         <input type="submit" value="Get Started">
 </form>

</div>

 {% endblock body_content %}


